.home-page {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.home-page h1,.home-page h2,.home-page h3,.home-page h4,.home-page h5,.home-page h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.home-page header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.home-page header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.home-page header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .home-page header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .home-page header.masthead h1 {
    font-size: 3rem;
  }
}

.home-page .showcase .showcase-text {
  padding: 3rem;
}

.home-page .showcase .showcase-img {
  
  background-size: cover;
}

@media (min-width: 768px) {
  .home-page .showcase .showcase-text {
    padding: 7rem;
  }
}

.home-page .features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.home-page .features-icons .features-icons-item {
  max-width: 20rem;
}

.home-page .features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.home-page .features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.home-page .features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.home-page .testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.home-page .testimonials .testimonial-item {
  max-width: 18rem;
}

.home-page .testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.home-page .call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.home-page .call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.home-page footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
