.login{
  background-color: $background-login;
  height: 100vh;
  .container{
    .card{
      padding-bottom: 1em;
      border:none;      
      .card-header{
        text-align: center;
        background-color: $color-theme;
        color:$color-text-card;
        font-weight: 400;
        text-transform: uppercase;       

      }
      .card-body{
        color:$text-color;        
        form{
          .btn-login{
            background-color: $color-theme;
            color:$color-text-card;
            cursor: pointer;           
            &:hover{
              opacity: .8;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:900px){
  .login{    
        margin-top: 2em !important;      
  }
}