/* custom settings modals */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  }
  .modal-header{
    color:$title-color-modal;
  }