
$background-navbar:#243447;
$title-color-navbar:#fff;
$icon-color:#fff;
$title-color-navbar-hover:#fff;

/*navbar02*/
$border-color:transparent;
$color-theme:#4285F4;
$background-body:#141d26;
$navlink-active:#fff;
$navlink:#8899a6;
/*login*/
$background-login:#141d26;
$color-text-card:#fff;
$text-color:gray;
/*footer*/
$background-footer:$background-navbar;
$color-footer:#f4f4f4;
/*button*/
$background-button:$color-theme;
$color-button:#fff;
$background-button-outline:$color-theme;
$background-button-outline-border:#fff;
/*modal*/
$title-color-modal:#fff;